body {
  margin: 0 20px;
  padding: 0 30px;
  font-size: 20px;
  background-color:azure;
}

.time,
.m-cv {
  color: rgb(97, 97, 97);
  font-size: 12px;
  margin-right: 500px;
  padding-left: 0;
}

.header {
  display: flex;
  padding-top: 15px;
}

.info-h1,
.info-h2,
.info-p,
.info-ul {
  color: gray;
}

.education-sub > p {
  padding-left: 40px;
}

.experience-subpart,
.intern-subpart {
  display: flex;
}

.experience-right,
.intern-right {
  margin-top: 25px;
  margin-left: 60px;
}

.experience-right {
  margin-left: 115px;
}

.footer {
  padding-top: 25px;
  padding-bottom: 250px;
}

.reach-btn {
  background-color: darkgray;
  padding: 8px 15px;
  text-decoration: none;
  color: black;
  transition: 0.15s color linear;
}

.reach-btn:hover {
  color: aliceblue;
  background-color: black;
}

td {
  border: 1px solid black;
}

.intern-left-td,
.intern-right-td,
.experience-right-td,
.experience-left-td {
  padding-left: 20px;
  padding-right: 20px;
}

.experience-left-td {
  padding-right: 74px;
}

.intern-right-td {
  padding-right: 114px;
}

.experience-right ul {
  margin-left: -52px;
  padding-right: 52px;
}

table {
  border-collapse: collapse;
}

/* Contact */

form {
  margin-top: 30px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

form textarea {
  padding-top: -5px;
  margin-top: -10px;
  height: 70px;
}

form input[type="submit"] {
  background-color: rgb(85, 82, 78);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: gray;
  color: black;
}