body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

header {
  height: 70px;
  width: 100%;
  background-color: aliceblue;
}

.main-btn,
.con-btn,
.abo-btn {
  margin-right: 25px;
  margin-left: 5px;
  text-decoration: none;
  color: rgb(255, 145, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 0.25s color linear;
}

.main-btn:hover,
.con-btn:hover,
.abo-btn:hover {
  color: rgb(0, 0, 0);
}

.nav-btn {
  margin-left: 50px;
  padding-top: 27px;
}

.logo-btn {
  color: aliceblue;
  border-radius: 50%;
  max-width: 55px;
  max-height: 55px;
  padding-top: 7px;
  padding-left: 15px;
}

.header-container {
  display: flex;
}

.nav-search {
  margin-left: 650px;
  margin-top: 23px;
}

input[type="search"] {
  border-radius: 5px;
  border: 2px solid rgb(243, 130, 0);
  height: 30px;
  width: 175px;
  margin-top: -45px;
  margin-left: -35px;
}

input[type="search"]:hover,
input[type="search"]:focus,
button[type="sumbit"]:focus {
  border: 1px solid #000000;
  background-color: rgb(177, 177, 177);
  transform: scale(1.05);
}

button[type="submit"] {
  margin-left: 5px;
  border: 1.5px solid rgb(1, 56, 88);
  border-radius: 10px;
  padding: 3px 6px;
  background-color: rgb(236, 154, 1);
}

.header-bottom {
  padding-top: 10px;
}

/* Body part */

.main-info {
  display: flex;
  margin-top: 70px;
  margin-left: 50px;
}

.main-first,
.main-second,
.main-third {
  text-align: center;
  font-family: sans-serif;
  border: 1px solid black;
  margin-left: 60px;
  margin-right: 35px;
  height: 450px;
  width: 300px;
  background-color: rgb(255, 163, 43);
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.4);
}

.main-first h1,
h2 {
  color: black;
}

.lg-card {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-top: 1px;
}

.lg-card1 {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.logo-card {
  padding-top: 19px;
}
.logo-card1 {
  padding-top: -20px;
}

.link-tg,
.link-yt,
.link-wh {
  margin-left: 15px;
}

.main-link {
  display: flex;
  margin-left: 55px;
}

.tg-logo,
.yt-logo,
.wh-logo {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.tg-logo:hover,
.yt-logo:hover,
.wh-logo:hover {
  opacity: 0.6;
}

.cv-button {
  margin-left: 260px;
  background-color: black;
  font-size: 12px;
}

.cv-btn {
  color: aliceblue;
  padding-top: 5px;
  display: inline-block;
  width: 40px;
  height: 15px;
  text-decoration: none;
}

.cv-btn:hover {
  background-color: darkgray;
  color: black;
}

.footer-p {
  width: 100%;
  height: 200px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 20px;
  padding-top: 150px;
}

/* upper main */

.introduction-slogan {
  border-right: 2px solid black;
  padding-right: 20px;
  width: 500px;
  height: 500px;
  margin-left: 50px;
  margin-top: 120px;
  margin-bottom: 240px;
}

.introduction-slogan p {
  text-align: center;
  padding-top: 170px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
}

.introduction {
  display: flex;
}

.introduction-text {
  font-size: 32px;
  width: 500px;
  height: 500px;
  margin-left: 80px;
  margin-top: 120px;
}

.see-more {
  text-decoration: none;
}

.main-see {
  margin-top: -13px;
  margin-left: 11px;
}

nav {
  position: fixed;
  background-color: aliceblue;
  padding-right: 60px;
  border-bottom: 1px solid black;
}
